In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
column_names = ['Type', 'OrderID', 'Time', 'Symbol', 'Action', 'Size', 'Price']

In [3]:
data1 = [
    ['Add', 'O101', '12:00:01', 'AAPL', 'BUY', 200, 33.55],    # AAPL limit buy
    ['Add', 'O102', '12:00:01', 'INTC', 'BUY', 300, 25.75],    # INTC limit buy   
    ['Add', 'O103', '12:00:04', 'AAPL', 'SELL', 300, 33.62],   # AAPL limit sell
    ['Add', 'O104', '12:00:05', 'NVDA', 'BUY', 500, 40.55],    # NVDA limit buy
    ['Add', 'O107', '12:00:08', 'NVDA', 'SELL', 200, 40.60],   # NVDA limit sell
    ['Add', 'O108', '12:00:09', 'INTC', 'BUY', 200, 25.77],    # INTC limit buy
    ['Cancel', 'O104', '12:00:10', 'NVDA', 'BUY', 500, 40.55],     # NVDA cancel buy
    ['Add', 'O110', '12:00:10', 'NVDA', 'SELL', 200, 40.59],   # NVDA limit sell
    ['Add', 'O113', '12:00:14', 'NVDA', 'BUY', 200, 40.55],    # NVDA limit buy
    ['Add', 'O114', '12:00:15', 'INTC', 'SELL', 300, 25.80],   # INTC limit sell
    ['Cancel', 'O114', '12:00:20', 'INTC', 'SELL', 300, 25.80],     # INTC cancel cell
    ['Add', 'O117', '12:00:22', 'AAPL', 'SELL', 100, 33.61],   # AAPL limit sell
    ['Add', 'O118', '12:00:22', 'AAPL', 'BUY', 100, 33.54],    # AAPL limit buy
    ['Add', 'O119', '12:00:23', 'AAPL', 'BUY', 200, 33.56],    # AAPL limit buy
    ['Add', 'O121', '12:00:26', 'INTC', 'BUY', 200, 25.78],    # INTC limit buy
    ['Add', 'O122', '12:00:26', 'INTC', 'SELL', 400, 25.82],   # INTC limit sell
    ['Add', 'O123', '12:00:27', 'NVDA', 'BUY', 200, 40.58],    # NVDA limit buy
    ['Add', 'O124', '12:00:28', 'NVDA', 'SELL', 100, 40.59],   # NVDA limit sell
    ['Add', 'O125', '12:00:28', 'AAPL', 'SELL', 200, 33.61],    # AAPL limit sell
    ['Add', 'O127', '12:00:29', 'INTC', 'SELL', 100, 25.79],   # INTC limit sell
    ['Cancel', 'O125', '12:00:30', 'AAPL', 'SELL', 200, 33.61]     # AAPL cancel sell
]

In [4]:
data2 = [
    ['Add', 'P101', '12:00:01', 'AAPL', 'BUY', 200, 33.55],    # AAPL limit buy
    ['Add', 'P102', '12:00:02', 'NVDA', 'BUY', 100, 40.54],    # NVDA limit buy   
    ['Add', 'P103', '12:00:05', 'AAPL', 'BUY', 300, 33.56],   # AAPL limit buy
    ['Add', 'P104', '12:00:05', 'NVDA', 'BUY', 500, 40.55],    # NVDA limit buy
    ['Add', 'P107', '12:00:08', 'NVDA', 'SELL', 200, 40.60],   # NVDA limit sell
    ['Add', 'P108', '12:00:08', 'INTC', 'SELL', 200, 25.80],    # INTC limit sell
    ['Cancel', 'P107', '12:00:10', 'NVDA', 'SELL', 200, 40.60],     # NVDA cancel sell
    ['Add', 'P110', '12:00:11', 'NVDA', 'SELL', 200, 40.60],   # NVDA limit sell
    ['Add', 'P113', '12:00:14', 'AAPL', 'SELL', 300, 33.60],    # AAPL limit sell
    ['Add', 'P114', '12:00:15', 'INTC', 'SELL', 300, 25.80],   # INTC limit sell
    ['Cancel', 'P103', '12:00:20', 'AAPL', 'BUY', 300, 33.56],     # AAPL cancel buy
    ['Add', 'P117', '12:00:23', 'INTC', 'BUY', 100, 25.77],   # AAPL limit sell
    ['Add', 'P119', '12:00:23', 'AAPL', 'BUY', 200, 33.57],    # AAPL limit buy
    ['Cancel', 'P108', '12:00:25', 'INTC', 'SELL', 200, 25.80],     # INTC cancel sell
    ['Add', 'P121', '12:00:25', 'INTC', 'BUY', 200, 25.78],    # INTC limit buy
    ['Add', 'P122', '12:00:26', 'NVDA', 'BUY', 400, 40.55],   # NVDA limit buy
    ['Add', 'P123', '12:00:27', 'NVDA', 'BUY', 200, 40.56],    # NVDA limit buy
    ['Add', 'P124', '12:00:27', 'AAPL', 'SELL', 100, 33.59],   # AAPL limit sell
    ['Add', 'P127', '12:00:29', 'NVDA', 'SELL', 100, 40.59]   # NVDA limit sell
]

In [5]:
data3 = [
    ['Add', 'Q101', '12:00:02', 'NVDA', 'SELL', 200, 40.59],    # NVDA limit sell
    ['Add', 'Q102', '12:00:02', 'INTC', 'SELL', 100, 25.79],    # INTC limit sell  
    ['Add', 'Q103', '12:00:03', 'AAPL', 'SELL', 300, 33.62],   # AAPL limit sell
    ['Add', 'Q104', '12:00:04', 'INTC', 'BUY', 500, 28.78],    # INTC limit buy
    ['Add', 'Q107', '12:00:08', 'AAPL', 'BUY', 200, 33.50],   # AAPL limit buy
    ['Add', 'Q108', '12:00:09', 'NVDA', 'BUY', 200, 40.55],    # NVDA limit buy
    ['Cancel', 'Q107', '12:00:11', 'AAPL', 'BUY', 200, 33.50],     # AAPL cancel buy
    ['Add', 'Q110', '12:00:12', 'INTC', 'SELL', 200, 25.81],   # INTC limit sell
    ['Add', 'Q113', '12:00:14', 'AAPL', 'BUY', 200, 33.55],    # AAPL limit buy
    ['Add', 'Q114', '12:00:15', 'INTC', 'BUY', 300, 25.76],   # INTC limit buy
    ['Add', 'Q117', '12:00:22', 'AAPL', 'SELL', 100, 33.61],   # AAPL limit sell
    ['Add', 'Q118', '12:00:22', 'AAPL', 'BUY', 100, 33.58],    # AAPL limit buy
    ['Add', 'Q119', '12:00:23', 'NVDA', 'BUY', 200, 40.58],    # NVDA limit buy
    ['Add', 'Q121', '12:00:26', 'INTC', 'SELL', 200, 25.81],    # INTC limit SELL
    ['Cancel', 'Q114', '12:00:27', 'INTC', 'BUY', 300, 25.76],     # INTC cancel buy
    ['Add', 'Q124', '12:00:28', 'NVDA', 'SELL', 100, 40.60],   # NVDA limit sell
    ['Add', 'Q127', '12:00:28', 'INTC', 'SELL', 100, 25.79]   # INTC limit sell
]

In [6]:
market_data = [
    ['Add', 'M101', '12:00:05', 'AAPL', 'BUY', 200, None],    # AAPL market buy
    ['Add', 'M102', '12:00:06', 'NVDA', 'SELL', 500, None],    # NVDA market sell
    ['Add', 'M103', '12:00:07', 'INTC', 'SELL', 600, None],    # INTC market sell
    ['Add', 'M104', '12:00:15', 'AAPL', 'BUY', 400, None],    # AAPL market buy
    ['Add', 'M105', '12:00:16', 'NVDA', 'BUY', 100, None],    # NVDA market buy
    ['Add', 'M106', '12:00:17', 'INTC', 'BUY', 200, None],    # INTC market buy
    ['Add', 'M107', '12:00:26', 'AAPL', 'SELL', 200, None],    # AAPL market sell
    ['Add', 'M108', '12:00:27', 'NVDA', 'BUY', 300, None],    # NVDA market buy
    ['Add', 'M109', '12:00:29', 'INTC', 'BUY', 100, None],    # AAPL market sell
    ['Add', 'M110', '12:00:30', 'AAPL', 'SELL', 300, None]    # AAPL market sell    
]

In [7]:
df_user1 = pd.DataFrame(data1, columns=column_names)
df_user2 = pd.DataFrame(data2, columns=column_names)
df_user3 = pd.DataFrame(data3, columns=column_names)
df_market = pd.DataFrame(market_data, columns=column_names)

In [8]:
df_user1.to_csv('user_1.csv', index=False)
df_user2.to_csv('user_2.csv', index=False)
df_user3.to_csv('user_3.csv', index=False)
df_market.to_csv('market.csv', index=False)

In [10]:
concat_df = pd.concat([df_user1, df_user2, df_user3, df_market], axis=0)
overall_df = concat_df.sort_values(by=['Symbol', 'Time'], ascending=[True, True])
overall_df.head()

/var/folders/4v/5xt_qbps4xs4lhsqnd9b3lp00000gn/T/ipykernel_6379/3078610464.py:1: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  concat_df = pd.concat([df_user1, df_user2, df_user3, df_market], axis=0)

  Type OrderID      Time Symbol Action  Size  Price
0  Add    O101  12:00:01   AAPL    BUY   200  33.55
0  Add    P101  12:00:01   AAPL    BUY   200  33.55
2  Add    Q103  12:00:03   AAPL   SELL   300  33.62
2  Add    O103  12:00:04   AAPL   SELL   300  33.62
2  Add    P103  12:00:05   AAPL    BUY   300  33.56

In [11]:
overall_df.to_csv('overall.csv', index=False)